<!DOCTYPE html>
<html>
<head>
    <title>signup</title>
</head>
<body>
    <h2>Registration</h2>
    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">create account</button>
    </form>
    <a href="/login">Already have an account?</a>
</body>
</html>
