<h1>Todo list</h1>
<%# Please add an item. %>
<form action="/api/todos" method="POST" class="form">		
      <label for="name">item's name: </label>
      <input type="text" name="name" id="name" required />
      <input type="submit" value="add a new todo!" />
</form>