<h1>Todo items:</h1>

<% for(i = 0; i < todos.length; i++) { %>
  <div>
    <h1><%= todos[i].name %></h1>
    
   <%# update form %>

   <form action="/api/todos/update/6578e19813d817dee8c18a05" method="post">
    <label for="name">New Todo Name:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Update Todo</button>
  </form>


    <%# delete button %>
    <form action="/api/todos/delete/<%= todos[i].id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Delete</button>
    </form>
  </div>
<% } %>