<h1>update the todo</h1>

<form action="/api/todos" method="PUT" class="form-example">

      <label for="name">the item that you want to change </label>
      <input type="text" name="name" id="name" required />
      <input type="submit" value="add a new item!" />
  </form>
